#dashboard-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.grid-container-1fr-1fr-white {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        .content {
            width: 40%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            .image {
                background: #eff3f9;
                padding: 0.5rem;
                border-radius: 10px;
            }
            .text {
                font-size: 18px;
                font-weight: 400;
                &-title {
                    color: #3b336b;
                }
                &-description {
                    color: #9993b4;
                }
            }
            .graph {
                background: #eff3f9;
                padding: 0.5rem 1rem;
                border-radius: 10px;
                font-size: 18px;
                font-weight: 400;
                color: #3b336b;
                transition: all ease-in-out 0.3s;
                &:hover {
                    background: #3b336b;
                    color: #fff;
                }
            }
        }
    }
}

.flex-container-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    .grid-container-1fr-1fr-purple {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        .item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: #d0d0e2;
            padding: 1rem;
            gap: 0.5rem;
            color: #3b336b;
            border-radius: 10px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
            .header {
                font-size: 18px;
                font-weight: 500;
                color: #3b336b;
            }
            .content {
                display: flex;
                gap: 1rem;
                .image {
                    background: #fff;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    max-width: 128px;
                }
                .wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    color: #3b326b;
                    line-height: 20px;
                    gap: 0.5rem;
                    width: 100%;
                    .title {
                        font-size: 18px;
                        font-weight: 400;
                    }
                    .description {
                        display: flex;
                        justify-content: space-between;
                        p {
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        .summary {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #3b336b;
            padding: 0.5rem 1rem;
            margin-top: 0.5rem;
            color: #fff;
            border-radius: 10px;
            p {
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
    .grid-container-1fr-1fr-orange {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        .item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: #fbe3d8;
            padding: 1rem;
            gap: 0.5rem;
            color: #3b336b;
            border-radius: 10px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
            .header {
                font-size: 18px;
                font-weight: 500;
                color: #3b336b;
            }
            .content {
                display: flex;
                justify-content: space-between;
                gap: 1rem;
                .image {
                    background: #fff;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    max-width: 128px;
                }
                .wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    color: #3b326b;
                    line-height: 20px;
                    gap: 0.5rem;
                    width: 100%;
                    .title {
                        font-size: 18px;
                        font-weight: 400;
                    }
                    .description {
                        display: flex;
                        justify-content: space-between;
                        p {
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        .summary {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #fd651f;
            padding: 0.5rem 1rem;
            margin-top: 0.5rem;
            color: #fff;
            border-radius: 10px;
            p {
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}

.grid-container-1fr-1fr-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    .item {
        padding: 1rem;
        border-top: 1rem solid #3b326b;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            &-title {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                p {
                    font-size: 18px;
                    font-weight: 400;
                    color: #3b326b;
                }
            }
            &-link {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                button {
                    background: #3b326b;
                    padding: 0.5rem;
                    font-size: 12px;
                    font-weight: 400;
                    color: #fff;
                    border-radius: 5px;
                }
                p {
                    font-size: 18px;
                    font-weight: 400;
                    color: #ff0000;
                }
            }
        }
    }
}

.grid-container-1fr-table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    .item {
        padding: 1rem;
        border-top: 1rem solid #3b326b;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .header-title {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                p {
                    font-size: 18px;
                    font-weight: 400;
                    color: #3b326b;
                }
            }
            .header-link {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                button {
                    background: #3b326b;
                    padding: 0.5rem;
                    font-size: 12px;
                    font-weight: 400;
                    color: #fff;
                    border-radius: 5px;
                }
                p {
                    font-size: 18px;
                    font-weight: 400;
                    color: #ff0000;
                }
            }
        }
    }
}
