#supplier-page {
    overflow: auto;
    .main-content {
        @apply flex flex-col;
        width: 100%;
        min-width: 730px;
        height: auto;
        // min-height: 740px;
        background: #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        border-radius: 10px;

        .head {
            width: 100%;
            height: 20px;
            background: #3b326b;
            border-radius: 10px 10px 0px 0px;
        }

        .content {
            @apply flex flex-col gap-4 p-4;
            width: 100%;
            height: 100%;

            .content-head {
                @apply flex items-center justify-between;
                width: 100%;

                .title {
                    @apply flex items-center justify-center gap-2;
                    p {
                        color:#3b326b;
                        font-weight: 400;
                        font-size: 20px;
                    }
                    span {
                        margin-left: .5rem;
                        color: #ff0000;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }


                .action {
                    @apply flex justify-between items-center;
                    height: 100%;

                    button {
                        color: #fff;
                        width: 200px;
                        padding: .5rem 1rem;
                        font-size: 16px;
                        font-weight: 400;
                        background-color: #3B336B;
                        border-radius: 5px;
                        transition-duration: .3s;
                        
                        &:hover {
                            background-color: #261772;
                        }
                    }
                }
            }
        }
    }
}
