#vat-page {
    .main-content {
        @apply flex flex-col w-full max-w-full;
        min-width: 998px;
        height: 100vh;
        max-height: 800px;
        background: #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        border-radius: 20px;

        .head {
            width: 100%;
            height: 20px;
            background: #3b326b;
            border-radius: 20px 20px 0px 0px;
        }

        .content {
            @apply flex flex-col;
            width: 100%;
            height: 100%;

            .content-head {
                @apply flex items-center justify-between py-2 px-4;
                width: 100%;
                height: 65px;

                .title {
                    @apply flex items-center justify-center gap-2;
                    p {
                        color: #3b326b;
                        font-weight: 400;
                        font-size: 20px;
                    }
                }

                .action {
                    @apply flex justify-between items-center;
                    width: 300px;
                    height: 100%;

                    button {
                        color: #fff;
                        width: 141px;
                        height: 35px;
                        background-color: #3b336b;
                        border-radius: 5px;
                        transition-duration: 0.3s;

                        &:hover {
                            background-color: #261772;
                        }
                    }

                    p {
                        color: #ff0000;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
            }

            .table {
                @apply w-full h-full p-4;
            }
        }
    }
}
